@font-face {
	src: url("Anton.ttf");
	font-family: "Anton";
}
@font-face {
	src: url("ENDOR.ttf");
	font-family: "ENDOR";
}
@font-face {
	src: url("Gloomy.ttf");
	font-family: "Gloomy";
}
@font-face {
	src: url("hydrosquad.ttf");
	font-family: "hydrosquad";
}
@font-face {
	src: url("MASQUE.ttf");
	font-family: "MASQUE";
}
@font-face {
	src: url("MODERNA.TTF");
	font-family: "MODERNA";
}
@font-face {
	src: url("Mollen.otf");
	font-family: "Mollen";
}
@font-face {
	src: url("Spiderwick.ttf");
	font-family: "Spiderwick";
}
@font-face {
	src:url("Stiletto.ttf");
	font-family: "Stiletto";
}
@font-face {
	src: url("TheyPerished.ttf");
	font-family: "TheyPerished";
}
@font-face {
	src: url("Timeline.ttf");
	font-family: "Timeline";
}
@font-face {
	src: url("Vasavine.ttf");
	font-family: "Vasavine";
}